:root {
    --primary: rgb(45, 34, 15);
    --secondary: rgb(216, 192, 172);
}

.nav {
    background: linear-gradient(45deg, var(--primary) 0%, rgb(150,114,89) 50%, var(--secondary) 100%);
    height: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5.5rem;
        width: 100%;
        // max-width: 1500px;
        // border: 5px solid black;
        padding-right: 5rem;

    
        .nav-logo {
            color: var(--secondary);
            text-shadow: 4px 4px 2px var(--primary);
            justify-self: start;
            position: relative;
            left: 7rem;
            bottom: 0.1rem;
            // margin: auto;
            cursor: pointer;
            text-decoration: none;
            font-size: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 3px solid var(--secondary);
            border-radius: 1rem;
            padding: 0.3rem;
            box-shadow: 2px 2px 20px var(--primary), -2px -2px 20px var(--primary), 2px 2px 10px var(--primary) inset, -2px -2px 10px var(--primary) inset;
            .logo-top {
                font-family: "Russo One", sans-serif;
                font-size: 1.8rem;
                letter-spacing: 0.3rem;
            }

            .logo-bottom {
                font-family: "Russo One", sans-serif;
                font-size: 1.5rem;
                letter-spacing: 0.6rem;
            }
        }
        .nav-menu {
            display: grid;
            grid-template-columns: repeat(4, auto);
            grid-gap: 0.8rem;
            list-style: none;
            text-align: center;
            width: 65vw;
            justify-content: end;
            position: relative;
            left: 2rem;
            // border: 1px black solid;
            .nav-item {
                height: 5.5rem;
                // width: 15rem;
                margin: -1.2rem;
                .nav-links {
                    color: var(--primary);
                    display: flex;
                    // border: 5px solid green;
                    // flex-direction: row;
                    align-items: center;
                    text-align: center;
                    justify-content: center;
                    text-decoration: none;
                    padding: 0.5rem 3rem;
                    // margin: auto 1rem;
                    height: 100%;
                    font-family: "Russo One", sans-serif;
                    letter-spacing: 0.1rem;
                    &:hover {
                        border-bottom: 4px solid var(--primary);
                        transition: all 0.2s ease-out;
                        text-shadow: 2px 2px 1px rgb(248, 199, 162);

                    }
                }
                
            }
            .nav-links-mobile {
                display: none;  
            }
        }

        .menu-icon {
            display: none;
            .fa-times {
                color: var(--primary);
            }
        }
    }
}