:root {
    --primary: rgb(45, 34, 15);
    --secondary: rgb(216, 192, 172);
}

.showcase-container {
    background: url('../images/coffee-background.jpg') center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    box-shadow: inset 50px 50px 250px var(--primary);
    .fccc {
        // border: 1px solid black;
        width: 55%;
        height: 50vh;
        position: relative;
        text-align: center;
        padding-top: 5rem;
        .fccc-top {
            font-size: 2.8rem;
            font-family: "Russo One", sans-serif;
            color: var(--primary);
            letter-spacing: 0.5rem;
            width: 70%;
            margin: auto;
            border-bottom: 4px solid var(--secondary);
            padding-bottom: 0.5rem;
            text-shadow: 2px 2px 2px var(--secondary);
        }
        .fccc-middle {
            font-size: 3.0rem;
            font-family: "Russo One", sans-serif;
            color: var(--secondary);
            letter-spacing: 2rem;
            width: 70%;
            margin: auto;
            border-top: 4px solid var(--primary);
            padding-top: 0.5rem;
            text-shadow: 2px 2px 2px var(--primary);
        }
        .fccc-bottom {
            font-size: 3rem;
            font-family: "Russo One", sans-serif;
            color: var(--primary);
            width: 70%;
            margin: auto;
            margin-top: 5rem;
            margin-bottom: 5rem;
            text-align: left;
            span {
                color: var(--secondary);
                font-family: "Limelight", sans-serif;
                font-size: 3.2rem;
                letter-spacing: 0.8rem;
                text-shadow: 2px 2px 2px var(--primary);
            }
        }
    }
    .showcase-btns {
        width: 70%;
        margin: auto;
        position: relative;
        top: 10rem;
        right: 3rem;
        
    }
}