:root {
    --primary: rgb(45, 34, 15);
    --secondary: rgb(236,224,209);
}

.showcase-container {
    background: url('../images/coffee-background.jpg') center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    box-shadow: inset 50px 50px 250px var(--primary);
    .fccc {
        // border: 1px solid black;
        width: 55%;
        height: 50vh;
        position: relative;
        text-align: center;
        padding-top: 5rem;
        .fccc-top {
            font-size: 2.8rem;
            font-family: "Russo One", sans-serif;
            color: var(--primary);
            letter-spacing: 0.5rem;
            width: 70%;
            margin: auto;
            border-bottom: 4px solid var(--secondary);
            padding-bottom: 0.5rem;
            text-shadow: 2px 2px 2px var(--secondary);
        }
        .fccc-middle {
            font-size: 3.0rem;
            font-family: "Russo One", sans-serif;
            color: var(--secondary);
            letter-spacing: 2rem;
            width: 70%;
            margin: auto;
            border-top: 4px solid var(--primary);
            padding-top: 0.5rem;
            text-shadow: 2px 2px 2px var(--primary);
        }
        .fccc-bottom {
            font-size: 3rem;
            font-family: "Russo One", sans-serif;
            color: var(--primary);
            width: 70%;
            margin: auto;
            margin-top: 5rem;
            margin-bottom: 5rem;
            text-align: left;
            span {
                color: var(--secondary);
                font-family: "Limelight", sans-serif;
                font-size: 3.2rem;
                letter-spacing: 0.8rem;
                text-shadow: 2px 2px 2px var(--primary);
            }
        }
    }
    .showcase-btns {
        width: 70%;
        margin: auto;
        position: relative;
        top: 10rem;
        right: 3rem;
        
    }
}

@media screen and (max-width: 960px) {
    .showcase-container {
        .fccc {
            .fccc-top {
                font-size: 1.9rem;
                letter-spacing: 0.2rem;
                margin-top: 3rem;
            }
            .fccc-middle {
                font-size: 2.8rem;
                letter-spacing: 1.7rem;
                
            }
            .fccc-bottom {
                font-size: 2.5rem;
                margin-top: 8rem;
                span {
                    font-size: 3.5rem;
                }
            }
        }
        .showcase-btns {
            // border: 2px solid var(--primary);
            width: 70%;
            height: 20vh;
            display: flex;
            flex-direction: column;
            position: relative;
            // right: 12rem;
            .btns {
                transition: all .3s ease-in;
                &:active {
                    transform: scale(0.9);
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .showcase-container {
        .fccc {
            .fccc-top {
                font-size: 1.8rem;
                letter-spacing: .1rem;
            }
            .fccc-middle {
                font-size: 2rem;
                letter-spacing: 0.8rem;
            }
            .fccc-bottom {
                font-size: 2.2rem;
                span {
                    font-size: 2.4rem;
                    letter-spacing: 0.3rem;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .showcase-container {
        .fccc {
            .fccc-top {
                font-size: 1.3rem;
                letter-spacing: 0rem;
            }
            .fccc-middle {
                font-size: 1.6rem;
                margin-bottom: 1rem;
            }
            
            .fccc-bottom {
                font-size: 1.7rem;
                margin-top: 12rem;
                span {
                    font-size: 1.8rem;
                    letter-spacing: 0.2rem;
                }
            }
        }
    }
}